<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Song Information</title>
    <link rel="stylesheet" href="albums.css">
</head>
<body>
<main>
    <table>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Song Count</th>
            <th>Length (seconds)</th>
            <th>Image</th>
        </tr>

        <tbody th:each="album : ${albums}">
        <tr>
            <td th:text="${album.title}">Album Title</td>
            <td th:text="${album.artist}">Artist</td>
            <td th:text="${album.songCount}">0</td>
            <td th:text="${album.length}">0</td>
            <td>
                <img th:src="${album.imageUrl}" th:alt="${album.title}" width="100" height="100">
            </td>
<!--           <form th:action="'/delete/' + ${album.id}" th:method="DELETE">-->
<!--               <input type="hidden" name="_method" value="DELETE">-->
<!--               <input type="submit" value="Delete Album">-->
<!--           </form>-->
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>

    <form action="/create-album" method="post">
        <fieldset>
            <legend>Create an Album</legend>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br>
            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist" required><br>
            <label for="songCount">Song Count:</label>
            <input type="text" id="songCount" name="songCount" required><br>
            <label for="length">Length (in seconds):</label>
            <input type="text" id="length" name="length" required><br>
            <label for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" name="imageUrl" required><br>
            <input type="submit" value="Create Album">        </fieldset>
    </form>





</main>
</body>
</html>