<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--<td>-->
<!--    <div>Songs:</div>-->
<!--    <ul th:each="song : ${album.songs}">-->
<!--        <li>Title</li>-->
<!--        <li> <a th:text="${song.title}" href="/songs">song details </a>  </li>-->
<!--    </ul>-->
<!--</td>-->

<!--    <form action="/add-song" method="POST">-->
<!--        <fieldset>-->
<!--            <legend>Add a song to this Album</legend>-->
<!--            <label for="SongTitle">Song Title</label>-->
<!--            <input type="text" name="title" id="SongTitle">-->
<!--            <label for="trackNumber">Track Number</label>-->
<!--            <input type="text" name="trackNumber" id="trackNumber">-->
<!--            <label for="LengthInSec">Length in seconds</label>-->
<!--            <input type="text" name="length" id="LengthInSec">-->

<!--            <input type="hidden" name="albumId" th:value="${album.id}">-->

<!--            <input type="submit" value="Add Song To Album">-->
<!--        </fieldset>-->
<!--    </form>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->