<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songer App</title>
    <link rel="stylesheet" href="splashStyles.css">
</head>
<body>
<header>
    <h1>Welcome to Songr</h1>
    <p>Your music, your way.</p>
</header>
<main>
    <section class="features">
        <div class="feature">
            <h2>Discover Music albums</h2>
            <p>Explore a vast library of songs and artists. <a href="/allAlbums">Albums </a>
            </p>
        </div>
        <div class="feature">
            <h2>Create Playlists</h2>
            <p>Build your perfect playlist with ease.</p>
        </div>
        <div class="feature">
            <h2>Share with Friends</h2>
            <p>Share your favorite tracks and playlists.</p>
        </div>
    </section>
</main>

</body>
</html>